<h1>Listing Blogs</h1>
<hr>
<% unless @blogs.empty? %>
  <table class="table table-striped">
    <thead>
          <tr>
            <th>Url Name</th>
            <th>Title</th>
            <th>Second Title</th>
            <th class="text-center" colspan="3">Blog</th>
            <th class="text-center" colspan="2">Actions</th>
          </tr>
        </thead>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.name %></td>
          <td><%= blog.title %></td>
          <td><%= blog.second_title %></td>
          <td><%= link_to 'Show', blog %></td>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Add Post', new_blog_post_path(blog) %></td>
          <td><%= link_to 'Show Editors', blog_editors_path(blog) %></td>
          <td><%= link_to 'Add Editor', new_blog_editor_path(blog) %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>
    Click <%= link_to 'Here', new_blog_path %> for add New Blog
  </p>
<% end %>
<br>
