<h1 class="page-header">
  <%= @blog.title.capitalize %>
  <small><%= @blog.second_title.capitalize %></small>
</h1>
<%= add_post_link @blog, @posts %>
<div id="posts">
  <%= render(@posts) %>
</div>
<br>
<%= will_paginate @posts %>
