<%= form_for [@blog, @editor] do |f| %>
  <% if flash[:alert] %>
  <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>
  <% if @editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% @editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= email_field_tag 'user_email', nil, class: 'form-control' %>
      <%= f.hidden_field :blog_id, :value => @blog.id%>
    </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Submit", :class => "btn btn-primary" %>
      </div>
  </div>
<% end %>
