<h2>
  <%= link_to sanitize(@post.title), blog_post_path(:id => @post,
                                                    :blog_id => @post.blog.id) %>
</h2>
<p class="lead">
  by <a href="#"><%= @post.user.username.capitalize %></a>
</p>
<p>
  <span class="glyphicon glyphicon-time"></span> Posted on: <%= time_ago_in_words @post.updated_at %>
</p>
<hr>
<%= sanitize(@post.body) %>
<hr>
<%= render :partial => 'comments/new' %>
<%= render :partial => @post.comments %>
